/* p {
  font-size: 10rem;
  font-style: italic;
  color: red;
}

div {
  color: blue;
}

.bt {
  color: brown;
}

#eng {
  color: black;
} */
table,
td,
tr {
  border-collapse: collapse;
  border: 1px solid black;
}
/* 

tailwind css //Framework css
react bootstrap //react framework
w3school  */
